# Export the versioning string when archiving
ugali/get_version.py export-subst

# These are binary files
*.gz binary
*.tgz binary

# Smudge/Clean the version information
ugali/_version.py export-subst
