language: python

python:
  - "2.7"
  - "3.6"
#  - "nightly" # currently points to 3.6-dev

sudo: false

notifications:
  email: false
 
# Setup dependencies and install package
# -c jochym is needed for pyfits
install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda create -q -n travis-env python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib astropy healpy pyyaml emcee nose pyfits fitsio corner -c conda-forge -c jochym -c kadrlica
  - source activate travis-env
  - export UGALIDIR="$HOME/.ugali"
  - python setup.py -q install --isochrones --catalogs

# command to run tests
script: 
  #- nosetests -v --nocapture
  - nosetests -v
